.logout {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: Yellow;
    color: Black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .logoutButton:hover {
    background-color: #e63a00;
  }
.app-title{
    
}
  